:root{
    --color-primary: hsl(33, 100%, 98%, 0.9);
    --color-primary-dark: hsl(339, 59%, 57% , 0.9);
    --color-secondary: hsl(17, 65%, 65%, 0.9);
    --color-secondary-light: hsl(30, 85%, 77%, 0.9);
    --color-error: rgba(157, 230, 115, 0.568);
    --color-white: rgb(221, 236, 234);
    --color-input-background: #ffffff;
    --color-input-focus-background: #eee;
    --color-active: rgba(251,249,249,0.96);

    --border-radius: 5px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, var(--color-primary-dark)50%, var(--color-secondary)50%), url(bg.jpg);
    background-attachment:fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
}

.container{
    background-color: var(--color-white);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    border-radius: 7%;

    box-shadow: 0 0 10px #828788;
    animation: move-container 1.6s ;

}

@media (max-width:768px){
    .container{
        width: 300px;
        transition: all 1.6s;
    }
}

@keyframes move-container{
    from{
        top: 0;
        right: 0;
    }
    to{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.form__title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.form__input{
    width: 100%;
    padding: 0.7rem;
    border-radius: var(--border-radius);
    outline: none;
    border: 2px solid var(--color-white);
    background-color: var(--color-input-background);
    font-size: 1rem;

    transition: background 0.3s, border-color 0.3s;


}

.form__input:focus{
    border-color: var(--color-primary-dark);
    background-color: var(--color-input-focus-background)
}
.form__button{
    width: 100%;
    padding: 0.7rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--color-primary);
    margin-top: 1rem;
}

.form__button:hover{
    background-color: var(--color-primary-dark);
    color: var(--color-active);
}

.form__button:active{
    background-color:  rgb(224, 101, 0);
    transform: scale(0.8);
    transition: all 0.3s;
}

.form__text{
    background-color: none;
    text-align: center;
    margin-top: 1rem;
}

.form__link:hover{
    color: rgb(224, 101, 0);
}

.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.form__message{
    color: var(--color-error);
    margin-top: 1rem;

}

